.wd-header {
    display: flex;
    align-items: center;
  }

.wd-search-bar {
    display: flex;
    background-color: lightgray;
    border-radius: 40px;
    padding: 4px;
    align-items: center;
    width: 100%;
  }
.wd-tuiter-search-bar {
    display: flex;
    background-color: white;
    border-radius: 40px;
    padding: 4px;
    align-items: center;
    width: 100%;
    border: 1px solid silver;
    
}
.wd-search-icon, .wd-gear-icon {
    margin: 0 8px;
  }
  
.wd-search-input {
    border: none;
    color: darkgray;
    background-color: lightgray;
    padding: 8px;
  }
  
.wd-magnify-icon, .wd-gear-icon {
    font-size: 20px;
    color: #888888;
    
  }
  
/* 4.1.3*/
.wd-tabs {
    list-style-type: none;
    display: flex;
    padding: 0;
  }
  
.wd-tabs li {
    margin-right: 15px;
  }
  
.wd-selected-tab .wd-selected-indicator {
    height: 3px;
    background-color: blue;
    margin-top: 2px;
  }
  
.wd-selected-tab span {
    border-bottom: 1px solid blue;
    padding-bottom: 3px;
  }
  
/* 4.1.5*/
.wd-image-container {
    position: relative;
  }
  
.wd-image-text {
    position: absolute;
    bottom: 1px;
    left: 5px;
    color: white;
    font-size: 20px;
  }
  
/* 4.1.6*/
.wd-tuit-list {
    list-style-type: none;
    padding: 0;
  }
  
.wd-tuit {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
.wd-tuit-header {
    flex: 1 1 auto;
  }
.wd-tuit-trending, .wd-tuit-counts{
    display: flex;
    justify-content: space-between;
    color:darkgray;
    font-size: smaller;
    margin-bottom: 5px;
    flex: 1 1 auto;
  }
.wd-tuit-username {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
.wd-tuit-more {
    color:darkgray;
  }
  
.wd-tuit-message p {
    margin: 0;
  }
  

/* 4.3 */
.list-group-item {
    width: 100%;
  }
  
  .wd-tuit-containter {
    text-align:left;
  }

  .wd-tuit-source{
    padding: 12px;
    color: silver;
    font-size:smaller
  }
  .wd-tuit-heading {
    margin-top: -10px;
    margin-left:12px;
    font-weight:bold;
  }
  .wd-tuit-message p {
    margin-left: 40;
    margin-top: -3px; /* Adjust the negative margin to move the element upward */
  }
  .wd-tuit-message2 {
    margin-left: 12px;
    margin-top: 4px;
    font-weight:bold;
    font-size:smaller;
  }
  .wd-tuit-counts2{
    font-size:smaller;
    color: silver;
    margin-left:12px;
  }

  .square-icon {
    border-radius: 8px;
    padding: 12px;
  }

  .wd-tuit-heading2 {
    margin-top: 2px;
    margin-left:12px;
    font-weight:bold;
  }


  .wd-tuit-heading3 {
    margin-top: 2px;
    margin-left:12px;
    font-weight:bold;
    text-align:left;
  }
  .wd-tuit-message3 {
    margin-left: 12px;
    margin-top: 4px;
    font-weight:bold;
    font-size:smaller;
    text-align:left;
  }